.footer {

  &__btn__score {
    width: 120px;
    height: 30px;
    margin: 10px;
    bottom: 5%;
    right: 5%;
    background-color: #ffd2b4;
    position: absolute;
    border-radius: 10px; 
    opacity: 40%;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      opacity: 80%;
    }
  }
  &__time__score{
    color: black;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    width: 140px;
    height: 30px;
    margin: 10px;
    position: absolute;
    top: 5%;
    right: 3%;
  }
}
