main {
  display: flex;
  justify-content: space-between;

  .sun {
    &__wrapper {
      width: 1256px;
      height: 100vh;
      padding: 10px;
      position: relative;
    }

    &__button {
      background-color: rgb(231, 165, 11);
      width: 80px;
      height: 80px;
      margin: 10px;
      border-radius: 50%;
      border: 2px solid;
      top: 0;
      left: 5%;
      position: absolute;
    }
  }

  .timer {
    &__wrapper {
      max-width: 100%;
    }

    &__score {
      color: black;
      width: 140px;
      height: 30px;
      margin: 30px;
      font-weight: 400;
      font-size: 16px;
      display: inline-block;
    }
  }

  .reset {
    &__wrapper {
      max-width: 100%;
      padding: 30px;
    }

    &__button {
      width: 120px;
      height: 30px;
      background-color: #ffd2b4;
      border-radius: 10px;
      opacity: 40%;
    }
  }
}
